Repository RetroAchievements/RAWeb, pull requests merged in 2025-01, with the labels that each got.

#2972 refactor: split Staff Dev role into separate roles, add CM vanity role
  app/Filament/Pages/AdminTools.php
  app/Filament/Pages/MostReportedGames.php
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/UserResource/Pages/Roles.php
  app/Models/Role.php
  app/Policies/AchievementAuthorPolicy.php
  app/Policies/AchievementPolicy.php
  app/Policies/AchievementSetAuthorPolicy.php
  app/Policies/AchievementSetClaimPolicy.php
  app/Policies/AchievementSetPolicy.php
  app/Policies/GameAchievementSetPolicy.php
  app/Policies/GameHashPolicy.php
  app/Policies/GamePolicy.php
  app/Policies/GameSetPolicy.php
  app/Policies/LeaderboardEntryPolicy.php
  app/Policies/LeaderboardPolicy.php
  app/Policies/MemoryNotePolicy.php
  app/Policies/MessagePolicy.php
  app/Policies/NewsPolicy.php
  app/Policies/TicketPolicy.php
  app/Policies/TriggerTicketPolicy.php
  app/Providers/AuthServiceProvider.php
  config/roles.php
  lang/en/permission.php
  public/request/user/update.php
  resources/js/common/utils/generatedAppConstants.ts
  resources/js/types/generated.d.ts
Labels: deployment/sql

#2995 feat: add support for versioned achievement, leaderboard, and rich presence logic
  app/Helpers/database/achievement.php
  app/Helpers/database/game.php
  app/Helpers/database/leaderboard.php
  app/Models/Achievement.php
  app/Models/Game.php
  app/Models/GameHashSet.php
  app/Models/Leaderboard.php
  app/Models/Trigger.php
  app/Platform/Actions/UpsertTriggerVersionAction.php
  app/Platform/AppServiceProvider.php
  app/Platform/Commands/SyncGameSetsInternalNotes.php
  app/Platform/Commands/SyncTriggers.php
  app/Platform/Contracts/HasVersionedTrigger.php
  app/Platform/Enums/TriggerableType.php
  database/factories/TriggerFactory.php
  database/migrations/2025_01_07_000000_denormalize_triggerables.php
  database/migrations/2025_01_07_000001_update_triggers_table.php
  tests/Feature/Connect/UploadAchievementTest.php
  tests/Feature/Platform/Action/UpsertTriggerVersionActionTest.php
Labels: deployment/command

#3084 feat: add hub shortcode
  app/Community/Actions/FetchDynamicShortcodeContentAction.php
  app/Community/AppServiceProvider.php
  app/Community/Commands/ConvertGameShortcodesToHubs.php
  app/Community/Controllers/Api/ForumTopicCommentApiController.php
  app/Community/Requests/PreviewForumPostRequest.php
  app/Helpers/render/game.php
  app/Helpers/shortcode.php
  app/Support/Shortcode/Shortcode.php
  lang/en_US.json
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeAch/ShortcodeAch.test.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeGame/ShortcodeGame.test.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeHub/ShortcodeHub.test.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeHub/ShortcodeHub.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeHub/index.ts
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeRenderer.test.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeRenderer.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeTicket/ShortcodeTicket.test.tsx
  resources/js/features/forums/components/ShortcodeRenderer/ShortcodeUser/ShortcodeUser.test.tsx
  resources/js/features/forums/hooks/useForumPostPreview.test.ts
  resources/js/features/forums/hooks/useForumPostPreview.ts
  resources/js/features/forums/hooks/useForumPostPreviewMutation.ts
  resources/js/features/forums/hooks/useShortcodesList.test.ts
  resources/js/features/forums/hooks/useShortcodesList.ts
  resources/js/features/forums/models/dynamic-shortcode-entities.model.ts
  resources/js/features/forums/state/forum.atoms.ts
  resources/js/features/forums/utils/extractDynamicEntitiesFromBody.test.ts
  resources/js/features/forums/utils/extractDynamicEntitiesFromBody.ts
  resources/js/features/forums/utils/preProcessShortcodesInBody.ts
  resources/js/features/game-list/components/DataTableToolbar/DataTableToolbar.test.tsx
  resources/views/components/base/form/textarea-rich-text-controls.blade.php
  resources/views/components/game/suggest-reason.blade.php
  tests/Feature/Community/ShortcodeTest.php
Labels: deployment/command

#3152 Allow weighting event achievements
  app/Filament/Resources/EventAchievementResource.php
  app/Filament/Resources/EventResource/Pages/Create.php
  app/Filament/Resources/EventResource/RelationManagers/EventAwardsRelationManager.php
  app/Helpers/render/site-award.php
  app/Models/EventAward.php
  app/Platform/Actions/CreateAchievementOfTheWeek.php
  app/Platform/Actions/RevalidateAchievementSetBadgeEligibilityAction.php
  database/migrations/2025_01_29_000000_update_event_awards_table.php
  resources/views/components/game/achievements-list/achievements-list-item.blade.php
  resources/views/components/game/current-progress/stats.blade.php
  resources/views/pages-legacy/gameInfo.blade.php
  tests/Feature/Platform/Action/RevalidateAchievementSetBadgeEligibilityActionTest.php
Labels: deployment/sql, deployment/command
